Node-Red/Automations - Washing-Dryer- Door lock - Bathroom Fan.json
[{"id":"a81b69a56e21ac2a","type":"tab","label":"Automations","disabled":false,"info":""},{"id":"f3595a295abebb67","type":"switch","z":"a81b69a56e21ac2a","name":"event stop","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":100,"wires":[["9aec26b89a657440"]]},{"id":"ab5bb2fbd8f57910","type":"power-monitor","z":"a81b69a56e21ac2a","name":"Wasmachine","startthreshold":"100","stopthreshold":"0","startafter":"1","stopafter":"1","x":290,"y":100,"wires":[["f3595a295abebb67","b787da1630a7da96"]]},{"id":"7c3fb697d14528bb","type":"telegram sender","z":"a81b69a56e21ac2a","name":"Tom telegram","bot":"b09bd14a.b601d","haserroroutput":false,"outputs":1,"x":1280,"y":200,"wires":[[]]},{"id":"9aec26b89a657440","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload.time = Math.round(msg.payload.time / 60);\nmsg.payload.cost = (msg.payload.energy * 0.211356).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":100,"wires":[["2030d0f4646388f8"]]},{"id":"2030d0f4646388f8","type":"template","z":"a81b69a56e21ac2a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"De {{ payload.name }} is klaar\nTotale tijd: {{ payload.time }} min.\nTotaal vebruik : {{ payload.energy }} kWh\nKosten wasbeurt: € {{ payload.cost }}","output":"str","x":840,"y":100,"wires":[["81cddf9de07d5060","12e88920bcf1ddee"]]},{"id":"c52b780f0e3fa8bf","type":"server-state-changed","z":"a81b69a56e21ac2a","name":"Wasmachine","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.wasmachine_electric_consumption_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":90,"y":100,"wires":[["ab5bb2fbd8f57910","7e9feff5c20c0bea"]]},{"id":"81cddf9de07d5060","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload =\n{\n    chatId: '46597978',\n    type: 'message',\n    content: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":100,"wires":[["7c3fb697d14528bb"]]},{"id":"b787da1630a7da96","type":"switch","z":"a81b69a56e21ac2a","name":"start","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":60,"wires":[["cf4f2e8d78f4d8df","b7ccbad45df31919"]]},{"id":"cf4f2e8d78f4d8df","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"46597978\", \n    \"type\":\"message\", \n    \"content\":\n    \"**Wasmachine is AAN**\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":60,"wires":[["7c3fb697d14528bb"]]},{"id":"d5b4fd8765c195af","type":"telegram sender","z":"a81b69a56e21ac2a","name":"Patricia Telegram","bot":"16bc1ccd.414d73","haserroroutput":false,"outputs":1,"x":1290,"y":380,"wires":[[]]},{"id":"b7ccbad45df31919","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"205329462\", \n    \"type\":\"message\", \n    \"content\":\n    \"**Wasmachine is AAN**\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":160,"wires":[["d5b4fd8765c195af"]]},{"id":"12e88920bcf1ddee","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload =\n{\n    chatId: '205329462',\n    type: 'message',\n    content: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":200,"wires":[["d5b4fd8765c195af"]]},{"id":"895d066370e68bfa","type":"switch","z":"a81b69a56e21ac2a","name":"event stop","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":420,"wires":[["b7a08c3682734d8a"]]},{"id":"75bbc5081351bf51","type":"power-monitor","z":"a81b69a56e21ac2a","name":"Droger","startthreshold":"65","stopthreshold":"0","startafter":"1","stopafter":"1","x":270,"y":420,"wires":[["895d066370e68bfa","14a0b678207d7c29"]]},{"id":"b7a08c3682734d8a","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload.time = Math.round(msg.payload.time / 60);\nmsg.payload.cost = (msg.payload.energy * 0.211356).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":420,"wires":[["0941fba83eb08d98"]]},{"id":"0941fba83eb08d98","type":"template","z":"a81b69a56e21ac2a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"De {{ payload.name }} is klaar\nTotale tijd: {{ payload.time }} min.\nTotaal vebruik : {{ payload.energy }} kWh\nKosten Droogbeurt: € {{ payload.cost }}","output":"str","x":840,"y":420,"wires":[["aa97589762733573","446480e316b41d83"]]},{"id":"43d559fd2c40ab6a","type":"server-state-changed","z":"a81b69a56e21ac2a","name":"Droger","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.droger_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":70,"y":420,"wires":[["75bbc5081351bf51","dc846dbfb0f3916e"]]},{"id":"aa97589762733573","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload =\n{\n    chatId: '46597978',\n    type: 'message',\n    content: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":420,"wires":[["7c3fb697d14528bb"]]},{"id":"14a0b678207d7c29","type":"switch","z":"a81b69a56e21ac2a","name":"start","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":380,"wires":[["4108219b2b9230bf","8cb77e1c4867cf88"]]},{"id":"4108219b2b9230bf","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"46597978\", \n    \"type\":\"message\", \n    \"content\":\n    \"**Droger is AAN**\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":380,"wires":[["7c3fb697d14528bb"]]},{"id":"8cb77e1c4867cf88","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"205329462\", \n    \"type\":\"message\", \n    \"content\":\n    \"**Droger is AAN**\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":460,"wires":[["d5b4fd8765c195af"]]},{"id":"446480e316b41d83","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload =\n{\n    chatId: '205329462',\n    type: 'message',\n    content: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":520,"wires":[["d5b4fd8765c195af"]]},{"id":"5451e228ce5d7456","type":"schedex","z":"a81b69a56e21ac2a","name":"20 PM On","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"20:00","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"22:15","offtopic":"","offpayload":"off","offoffset":"0","offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":80,"y":700,"wires":[["47a104ed51b0d359"]]},{"id":"47a104ed51b0d359","type":"switch","z":"a81b69a56e21ac2a","name":"is on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":700,"wires":[["4036905f02fedeeb"],[]]},{"id":"4036905f02fedeeb","type":"api-call-service","z":"a81b69a56e21ac2a","name":"TV aan","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.wall_plug_slaapkamer_tuin"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":700,"wires":[[]]},{"id":"4dc7710759b40dd3","type":"time-range-switch","z":"a81b69a56e21ac2a","name":"After 10PM","lat":"","lon":"","startTime":"22:00","endTime":"23:59","startOffset":"","endOffset":"","x":290,"y":780,"wires":[["4dfb8629015079c5"],[]]},{"id":"2738fde5a204c2b3","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Wasmachine Off","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.wasmachine"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":180,"wires":[[]]},{"id":"7e9feff5c20c0bea","type":"switch","z":"a81b69a56e21ac2a","name":"< of > 3W ?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"3","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":180,"wires":[["89ba9872f7044b5a"],["252036ed222cb2da"]],"outputLabels":["Si","No"]},{"id":"89ba9872f7044b5a","type":"trigger","z":"a81b69a56e21ac2a","name":"","op1":"","op2":"Off","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"On","bytopic":"all","topic":"topic","outputs":1,"x":490,"y":180,"wires":[["2738fde5a204c2b3"]]},{"id":"252036ed222cb2da","type":"change","z":"a81b69a56e21ac2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":240,"wires":[["89ba9872f7044b5a"]]},{"id":"45764ef996f757b1","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Droger Off","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.droger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":500,"wires":[[]]},{"id":"dc846dbfb0f3916e","type":"switch","z":"a81b69a56e21ac2a","name":"< of > 3W ?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"3","vt":"num"},{"t":"gte","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":500,"wires":[["25443e80443a914d"],["c24fdc2ca9413f03"]],"outputLabels":["Si","No"]},{"id":"25443e80443a914d","type":"trigger","z":"a81b69a56e21ac2a","name":"","op1":"","op2":"Off","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"On","bytopic":"all","topic":"topic","outputs":1,"x":490,"y":500,"wires":[["45764ef996f757b1"]]},{"id":"c24fdc2ca9413f03","type":"change","z":"a81b69a56e21ac2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":560,"wires":[["25443e80443a914d"]]},{"id":"4dfb8629015079c5","type":"api-call-service","z":"a81b69a56e21ac2a","name":"TV slaapkamer Off","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.wall_plug_slaapkamer_tuin"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":780,"wires":[[]]},{"id":"630cd0c9be33e003","type":"switch","z":"a81b69a56e21ac2a","name":"< of > 18W ?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"15","vt":"num"},{"t":"gte","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":900,"wires":[["348766abde5df943"],["8e550134c2c0eae8"]],"outputLabels":["Si","No"]},{"id":"348766abde5df943","type":"trigger","z":"a81b69a56e21ac2a","name":"","op1":"","op2":"Off","op1type":"nul","op2type":"str","duration":"30","extend":false,"overrideDelay":false,"units":"s","reset":"On","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":880,"wires":[[]]},{"id":"8e550134c2c0eae8","type":"change","z":"a81b69a56e21ac2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":920,"wires":[["348766abde5df943"]]},{"id":"f32f9b78c38c66d5","type":"time-range-switch","z":"a81b69a56e21ac2a","name":"After 6 AM","lat":"","lon":"","startTime":"06:00","endTime":"09:00","startOffset":"","endOffset":"","x":330,"y":1140,"wires":[["a995f385ea8d00e7"],[]]},{"id":"6d0c27f2ab3bf60b","type":"trigger-state","z":"a81b69a56e21ac2a","name":"Keuken motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_keuken_home_security_motion_detection","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":100,"y":1140,"wires":[["f32f9b78c38c66d5"],[]]},{"id":"c1a06e88a4359553","type":"trigger-state","z":"a81b69a56e21ac2a","name":"Woonkamer motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_woonkamer_home_security_motion_detection","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":110,"y":1200,"wires":[["f32f9b78c38c66d5"],[]]},{"id":"b31a5240d86bcdf3","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Woonkamer Wali links On","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.walli_woonkamer_links"],"data":"on","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1140,"wires":[[]]},{"id":"3c71fbced9be7afa","type":"time-range-switch","z":"a81b69a56e21ac2a","name":"After 10P M","lat":"","lon":"","startTime":"20:30","endTime":"23:59","startOffset":"","endOffset":"","x":690,"y":1340,"wires":[["5a62a7ee6e6b4062"],[]]},{"id":"5a62a7ee6e6b4062","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Woonkamer Wali links & Rechts Off","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.walli_woonkamer_links","switch.walli_woonkamer_rechts"],"data":"off","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":1400,"wires":[["0ad482484bf3fb40","cc885b719e9992fb"]]},{"id":"c4b7c8d80ee6e07d","type":"switch","z":"a81b69a56e21ac2a","name":"< of > 40W ?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"num"},{"t":"gte","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1400,"wires":[["8ba7f291cc80b10a","3c71fbced9be7afa"],["02e8a824e341dd32"]],"outputLabels":["Si","No"]},{"id":"8ba7f291cc80b10a","type":"trigger","z":"a81b69a56e21ac2a","name":"","op1":"","op2":"Off","op1type":"nul","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"min","reset":"On","bytopic":"all","topic":"topic","outputs":1,"x":690,"y":1400,"wires":[["5a62a7ee6e6b4062"]]},{"id":"02e8a824e341dd32","type":"change","z":"a81b69a56e21ac2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1440,"wires":[["8ba7f291cc80b10a"]]},{"id":"0d521ad82c07c5d0","type":"server-state-changed","z":"a81b69a56e21ac2a","name":"Woonkamer Wali Links","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.walli_woonkamer_links_electric_consumption_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":100,"y":1400,"wires":[["f0c7efb8dcae378e"]]},{"id":"4269c8932a92dc3b","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Tuin Aan","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.wall_plug_tuin"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":1080,"wires":[[]]},{"id":"cc885b719e9992fb","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Tuin Uit","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.wall_plug_tuin"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":1460,"wires":[[]]},{"id":"0856c80bcaa33cc8","type":"trigger-state","z":"a81b69a56e21ac2a","name":"Badkamer motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_badkamer_any","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":100,"y":1080,"wires":[["f32f9b78c38c66d5"],[]]},{"id":"6b6a5af23e883c7d","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Danalock Closed","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"lock","service":"lock","areaId":[],"deviceId":[],"entityId":["lock.danalock"],"data":"lock","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":1620,"wires":[[]]},{"id":"0ad482484bf3fb40","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Sleepstate sleeping","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.sleep_state\",\"option\":\"Sleeping\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":1340,"wires":[[]]},{"id":"a995f385ea8d00e7","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Sleepstate Awake","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.sleep_state\",\"option\":\"Awake\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":1140,"wires":[["4269c8932a92dc3b","b31a5240d86bcdf3","82daaf4cc7b76870"]]},{"id":"1601741912d407c5","type":"server-state-changed","z":"a81b69a56e21ac2a","name":"","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.sleep_state","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Sleeping","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":1580,"wires":[["6b6a5af23e883c7d"],[]]},{"id":"ce1190ca3fd998b8","type":"server-state-changed","z":"a81b69a56e21ac2a","name":"","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.present_state","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":1680,"wires":[["6b6a5af23e883c7d"],[]]},{"id":"534402dbb084cd18","type":"comment","z":"a81b69a56e21ac2a","name":"Presence State Away or Sleeping state Sleeping Door Locked!! ","info":"","x":250,"y":1540,"wires":[]},{"id":"fe29e2209989a272","type":"comment","z":"a81b69a56e21ac2a","name":"TV uit Power < 40 Wali Off, Sleepstate Sleeping and Tuin Off","info":"","x":220,"y":1300,"wires":[]},{"id":"05e9e639f50495ab","type":"comment","z":"a81b69a56e21ac2a","name":"Opstaan 6 AM Motion On, sleepstate Awake, Woonkamer Wali On en Tuin On","info":"","x":270,"y":1020,"wires":[]},{"id":"d4206addced67cd7","type":"comment","z":"a81b69a56e21ac2a","name":"Slaapkamer TV automatisch aan en Uit","info":"","x":170,"y":640,"wires":[]},{"id":"58cd75151f65de23","type":"comment","z":"a81b69a56e21ac2a","name":"Droger Power Monitor en auto Off","info":"","x":130,"y":320,"wires":[]},{"id":"c3f15e7dcecb283f","type":"comment","z":"a81b69a56e21ac2a","name":"Wasmachine Power Monitor en auto Off","info":"","x":155,"y":20,"wires":[]},{"id":"f0c7efb8dcae378e","type":"time-range-switch","z":"a81b69a56e21ac2a","name":"After 20 PM","lat":"","lon":"","startTime":"20:00","endTime":"23:59","startOffset":"","endOffset":"","x":290,"y":1400,"wires":[["c4b7c8d80ee6e07d"],[]]},{"id":"58d25e317d3693d9","type":"change","z":"a81b69a56e21ac2a","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":940,"wires":[[]]},{"id":"63f26d273abb6f07","type":"server-state-changed","z":"a81b69a56e21ac2a","name":"power state < 20","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.wall_plug_slaapkamer_tuin_electric_consumption_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"20","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":100,"y":780,"wires":[["4dc7710759b40dd3"],[]]},{"id":"c36dfa14e5060250","type":"trigger","z":"a81b69a56e21ac2a","name":"< 20W","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":90,"y":940,"wires":[["58d25e317d3693d9"]]},{"id":"b8d10de160e3d4b9","type":"comment","z":"a81b69a56e21ac2a","name":"Badkamer Ventilatie Aan / uit","info":"","x":140,"y":1800,"wires":[]},{"id":"82daaf4cc7b76870","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Woonkamer Wali Rechts On","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.walli_woonkamer_rechts"],"data":"on","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":1220,"wires":[[]]},{"id":"4ce6576846407715","type":"time-range-switch","z":"a81b69a56e21ac2a","name":"After 10 PM","lat":"","lon":"","startTime":"20:30","endTime":"23:59","startOffset":"","endOffset":"","x":690,"y":2480,"wires":[["6a7b969873de242b"],[]]},{"id":"6a7b969873de242b","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Computer & Spanningslof Off","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.computer_zolder","switch.spanningslof_zolder"],"data":"off","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":2540,"wires":[[]]},{"id":"a3393271f25b72c7","type":"switch","z":"a81b69a56e21ac2a","name":"< of > 50W ?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"},{"t":"gte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":2540,"wires":[["cf344e3034172127","4ce6576846407715"],["3c5c3314de8f3dd1"]],"outputLabels":["Si","No"]},{"id":"cf344e3034172127","type":"trigger","z":"a81b69a56e21ac2a","name":"","op1":"","op2":"Off","op1type":"nul","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"min","reset":"On","bytopic":"all","topic":"topic","outputs":1,"x":690,"y":2540,"wires":[["6a7b969873de242b"]]},{"id":"3c5c3314de8f3dd1","type":"change","z":"a81b69a56e21ac2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2580,"wires":[["cf344e3034172127"]]},{"id":"297e62de3bb03684","type":"server-state-changed","z":"a81b69a56e21ac2a","name":"Computer Power","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.computer_zolder_electric_consumption_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":100,"y":2540,"wires":[["e28248f8bcda29d0"]]},{"id":"9096a3219de4a7a9","type":"comment","z":"a81b69a56e21ac2a","name":"Computer Uit 20:00 - 23:30 < 40W","info":"","x":160,"y":2440,"wires":[]},{"id":"e28248f8bcda29d0","type":"time-range-switch","z":"a81b69a56e21ac2a","name":"After 20 PM","lat":"","lon":"","startTime":"20:00","endTime":"23:59","startOffset":"","endOffset":"","x":290,"y":2540,"wires":[["a3393271f25b72c7"],[]]},{"id":"99b1efac9df30236","type":"time-range-switch","z":"a81b69a56e21ac2a","name":"After 16 PM","lat":"","lon":"","startTime":"16:00","endTime":"17:30","startOffset":"","endOffset":"","x":690,"y":2280,"wires":[["dec77fefc55022ca"],[]]},{"id":"dec77fefc55022ca","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Computer & Spanningslof Off","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.computer_zolder","switch.spanningslof_zolder"],"data":"off","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":2340,"wires":[[]]},{"id":"1940beec20de4128","type":"switch","z":"a81b69a56e21ac2a","name":"< of > 50W ?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"},{"t":"gte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":2340,"wires":[["257f36b5d1735aae","99b1efac9df30236"],["cbe594925c5a768b"]],"outputLabels":["Si","No"]},{"id":"257f36b5d1735aae","type":"trigger","z":"a81b69a56e21ac2a","name":"","op1":"","op2":"Off","op1type":"nul","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"min","reset":"On","bytopic":"all","topic":"topic","outputs":1,"x":690,"y":2340,"wires":[["dec77fefc55022ca"]]},{"id":"cbe594925c5a768b","type":"change","z":"a81b69a56e21ac2a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2380,"wires":[["257f36b5d1735aae"]]},{"id":"bca76d6cf4fda28f","type":"server-state-changed","z":"a81b69a56e21ac2a","name":"Computer Power","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.computer_zolder_electric_consumption_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":100,"y":2340,"wires":[["848f1fa12345dfdd"]]},{"id":"848f1fa12345dfdd","type":"time-range-switch","z":"a81b69a56e21ac2a","name":"After 16 PM","lat":"","lon":"","startTime":"16:00","endTime":"17:30","startOffset":"","endOffset":"","x":290,"y":2340,"wires":[["1940beec20de4128"],[]]},{"id":"b0f3a44287ed5a52","type":"comment","z":"a81b69a56e21ac2a","name":"Computer Uit 16:00 - 17:30 < 40W","info":"","x":160,"y":2260,"wires":[]},{"id":"eae83eefe797e3e9","type":"trigger-state","z":"a81b69a56e21ac2a","name":"Zolder motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_zolder_any","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":90,"y":2080,"wires":[["91c4c60683cf7ba8"],[]]},{"id":"91c4c60683cf7ba8","type":"time-range-switch","z":"a81b69a56e21ac2a","name":"After 06 AM","lat":"","lon":"","startTime":"06:00","endTime":"10:00","startOffset":"","endOffset":"","x":290,"y":2080,"wires":[["c8e91ae846343533"],[]]},{"id":"c8e91ae846343533","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Computer & Spanningslof On","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.computer_zolder"],"data":"On","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":2080,"wires":[[]]},{"id":"2fa798ac674143b9","type":"trigger-state","z":"a81b69a56e21ac2a","name":"Zolder motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_zolder_any","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":90,"y":2160,"wires":[["beed3354bfade925"],[]]},{"id":"beed3354bfade925","type":"time-range-switch","z":"a81b69a56e21ac2a","name":"After 18:00","lat":"","lon":"","startTime":"18:00","endTime":"21:00","startOffset":"","endOffset":"","x":290,"y":2160,"wires":[["12cd2483e6de7525"],[]]},{"id":"12cd2483e6de7525","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Computer & Spanningslof On","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.computer_zolder"],"data":"On","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":2160,"wires":[[]]},{"id":"0cae6ccf93258114","type":"comment","z":"a81b69a56e21ac2a","name":"Computer On","info":"","x":90,"y":2020,"wires":[]},{"id":"821b1ea0fba2f9b4","type":"stoptimer","z":"a81b69a56e21ac2a","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"Wait 5 Minutes","x":520,"y":1900,"wires":[["6164e9cf839b76c8"],[]]},{"id":"6164e9cf839b76c8","type":"api-current-state","z":"a81b69a56e21ac2a","name":"High Humidity?","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"82","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.vochtsensor_badkamer_humidity","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":740,"y":1900,"wires":[["986302de4f37ec92"],["4ce2b6a1302f3bac"]]},{"id":"4ce2b6a1302f3bac","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Turn off fan","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.ventilatie_badkamer"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":1900,"wires":[[]]},{"id":"986302de4f37ec92","type":"stoptimer","z":"a81b69a56e21ac2a","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"Wait 1 min","x":730,"y":1840,"wires":[["6164e9cf839b76c8"],[]]},{"id":"3352841f06a6ee36","type":"server-state-changed","z":"a81b69a56e21ac2a","name":"High Humidity","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.vochtsensor_badkamer_humidity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"82","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":1900,"wires":[["de96f096e5d23061"],[]]},{"id":"de96f096e5d23061","type":"api-call-service","z":"a81b69a56e21ac2a","name":"Turn on fan","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.ventilatie_badkamer"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":1900,"wires":[["821b1ea0fba2f9b4"]]},{"id":"d41e16ada17745e8","type":"api-current-state","z":"a81b69a56e21ac2a","name":"Rest Afval","server":"85cb4144.a30f7","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.gad_restafval","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":2820,"wires":[["507bc9853bc06b7a"]]},{"id":"9f6acb44e9565565","type":"inject","z":"a81b69a56e21ac2a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 07 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":2820,"wires":[["d41e16ada17745e8","fb6b614a803e8fb7","bbb2e69cbf520ac5","2811d09c39cd4992"]]},{"id":"507bc9853bc06b7a","type":"switch","z":"a81b69a56e21ac2a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Today","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":2820,"wires":[["fbb144af69236f2b","75729f7652121810"]]},{"id":"fb6b614a803e8fb7","type":"api-current-state","z":"a81b69a56e21ac2a","name":"Papier Afval","server":"85cb4144.a30f7","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.gad_papier","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":2880,"wires":[["3fe895362a4e0302"]]},{"id":"a9513d88bd0b407e","type":"telegram sender","z":"a81b69a56e21ac2a","name":"Tom telegram","bot":"b09bd14a.b601d","haserroroutput":false,"outputs":1,"x":960,"y":2900,"wires":[[]]},{"id":"fbb144af69236f2b","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"46597978\", \n    \"type\":\"message\", \n    \"content\":\n    \"**** GRIJZE Bak Buiten zetten **** \\n\" +\nmsg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2820,"wires":[["a9513d88bd0b407e"]]},{"id":"bbb2e69cbf520ac5","type":"api-current-state","z":"a81b69a56e21ac2a","name":"GFT Afval","server":"85cb4144.a30f7","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.gad_gft","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":2940,"wires":[["90ebed5bd01a011e"]]},{"id":"2811d09c39cd4992","type":"api-current-state","z":"a81b69a56e21ac2a","name":"PMD Afval","server":"85cb4144.a30f7","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.gad_pmd","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":3000,"wires":[["156a26fef4868b8a"]]},{"id":"3fe895362a4e0302","type":"switch","z":"a81b69a56e21ac2a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Today","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":2880,"wires":[["e00cb1f3302464d5","3a2bfa96360a8aea"]]},{"id":"e00cb1f3302464d5","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"46597978\", \n    \"type\":\"message\", \n    \"content\":\n    \"**** BLAUWE Papier Bak Buiten zetten **** \\n\" +\nmsg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2880,"wires":[["a9513d88bd0b407e"]]},{"id":"90ebed5bd01a011e","type":"switch","z":"a81b69a56e21ac2a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Today","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":2940,"wires":[["3cb3f65ac8640927","45eff23360ed1aad"]]},{"id":"3cb3f65ac8640927","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"46597978\", \n    \"type\":\"message\", \n    \"content\":\n    \"**** GROENE GFT Bak Buiten zetten **** \\n\" +\nmsg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2940,"wires":[["a9513d88bd0b407e"]]},{"id":"156a26fef4868b8a","type":"switch","z":"a81b69a56e21ac2a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Today","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":3000,"wires":[["d6e4e6f15b88311e","081eb81adad93cc8"]]},{"id":"d6e4e6f15b88311e","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"46597978\", \n    \"type\":\"message\", \n    \"content\":\n    \"**** ORANJE Plastic Bak Buiten zetten **** \\n\" +\nmsg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":3000,"wires":[["a9513d88bd0b407e"]]},{"id":"75729f7652121810","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"205329462\", \n    \"type\":\"message\", \n    \"content\":\n    \"**** GRIJZE Bak Buiten zetten **** \\n\" +\nmsg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":3060,"wires":[["c832c34c4730335e"]]},{"id":"3a2bfa96360a8aea","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"205329462\", \n    \"type\":\"message\", \n    \"content\":\n    \"**** BLAUWE Papier Bak Buiten zetten **** \\n\" +\nmsg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":3120,"wires":[["c832c34c4730335e"]]},{"id":"45eff23360ed1aad","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"205329462\", \n    \"type\":\"message\", \n    \"content\":\n    \"**** GROENE GFT Bak Buiten zetten **** \\n\" +\nmsg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":3180,"wires":[["c832c34c4730335e"]]},{"id":"081eb81adad93cc8","type":"function","z":"a81b69a56e21ac2a","name":"","func":"msg.payload = {\n    \"chatId\": \"205329462\", \n    \"type\":\"message\", \n    \"content\":\n    \"**** ORANJE Plastic Bak Buiten zetten **** \\n\" +\nmsg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":3240,"wires":[["c832c34c4730335e"]]},{"id":"c832c34c4730335e","type":"telegram sender","z":"a81b69a56e21ac2a","name":"Patricia Telegram","bot":"16bc1ccd.414d73","haserroroutput":false,"outputs":1,"x":930,"y":3120,"wires":[[]]},{"id":"6371a64b1dcae6cc","type":"comment","z":"a81b69a56e21ac2a","name":"Afvalbeheer Notification Telegram 07:30","info":"","x":170,"y":2740,"wires":[]},{"id":"b09bd14a.b601d","type":"telegram bot","botname":"fibarotom_bot","usernames":"tom","chatids":"46597978","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"85cb4144.a30f7","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"16bc1ccd.414d73","type":"telegram bot","botname":"fibaropatricia_bot","usernames":"Patricia","chatids":"205329462","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]