Node-Red/Input select timers automations.json
[{"id":"10a1407a.0174e","type":"tab","label":"Timers","disabled":false,"info":""},{"id":"50c6b51.2c1ed4c","type":"ha-get-entities","z":"10a1407a.0174e","name":"Buienradar","server":"85cb4144.a30f7","version":0,"rules":[{"property":"entity_id","logic":"starts_with","value":"sensor.buienradar","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":790,"y":40,"wires":[["5184a153.be14c","83f5ea1f.0f5e78"]]},{"id":"5184a153.be14c","type":"function","z":"10a1407a.0174e","name":"","func":"msg.payload = {\n    \"chatId\": \"46597978\", \n    \"type\":\"message\", \n    \"content\":\n    \"**WEERBERICHT** \\n\" +\n    \"Weerbericht Morgen =  \\n\" + msg.payload[101].state +\n    \"\\n \\n 🌡️Temparatuur Morgen = \" + msg.payload[26].state +\n    \" °C\\n 🌧️ Regenhoeveelheid morgen = \" + msg.payload[36].state +\n\t\"mm\\n 🌧️ Regenverwachting morgen = \" + msg.payload[51].state +\n\t\"%\\n 🌬️ WindKracht morgen = \" + msg.payload[61].state +\n    \" Bft\\n \\n Weerbericht OverMorgen =  \\n\" + msg.payload[102].state +\n    \"\\n \\n 🌡️Temparatuur OverMorgen = \" + msg.payload[27].state +\n    \" °C\\n 🌧️ Regenhoeveelheid Overmorgen = \" + msg.payload[37].state +\n\t\"mm\\n 🌧️ Regenverwachting Overmorgen = \" + msg.payload[52].state +\n\t\"%\\n 🌬️ WindKracht Overmorgen = \" + msg.payload[62].state +\" Bft\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":40,"wires":[["42a820e2.0b0eb"]]},{"id":"42a820e2.0b0eb","type":"telegram sender","z":"10a1407a.0174e","name":"Tom telegram","bot":"b09bd14a.b601d","haserroroutput":false,"outputs":1,"x":1220,"y":40,"wires":[[]]},{"id":"82bbd268.cffe6","type":"telegram sender","z":"10a1407a.0174e","name":"Patricia Telegram","bot":"16bc1ccd.414d73","haserroroutput":false,"outputs":1,"x":1210,"y":180,"wires":[[]]},{"id":"83f5ea1f.0f5e78","type":"function","z":"10a1407a.0174e","name":"","func":"msg.payload = {\n    \"chatId\": \"205329462\", \n    \"type\":\"message\", \n    \"content\":\n    \"**WEERBERICHT** \\n\" +\n    \"Weerbericht Morgen =  \\n\" + msg.payload[101].state +\n    \"\\n \\n 🌡️Temparatuur Morgen = \" + msg.payload[26].state +\n    \" °C\\n 🌧️ Regenhoeveelheid morgen = \" + msg.payload[36].state +\n\t\"mm\\n 🌧️ Regenverwachting morgen = \" + msg.payload[51].state +\n\t\"%\\n 🌬️ WindKracht morgen = \" + msg.payload[61].state +\n    \" Bft\\n \\n Weerbericht OverMorgen =  \\n\" + msg.payload[102].state +\n    \"\\n \\n 🌡️Temparatuur OverMorgen = \" + msg.payload[27].state +\n    \" °C\\n 🌧️ Regenhoeveelheid Overmorgen = \" + msg.payload[37].state +\n\t\"mm\\n 🌧️ Regenverwachting Overmorgen = \" + msg.payload[52].state +\n\t\"%\\n 🌬️ WindKracht Overmorgen = \" + msg.payload[62].state +\" Bft\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":100,"wires":[["82bbd268.cffe6"]]},{"id":"bd1c40f6.c89b6","type":"ha-get-entities","z":"10a1407a.0174e","name":"SolarEdge","server":"85cb4144.a30f7","version":0,"rules":[{"property":"entity_id","logic":"starts_with","value":"sensor.solaredge","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":790,"y":220,"wires":[["440972af.8e4ccc","f7288f8b.c0f2f"]]},{"id":"440972af.8e4ccc","type":"function","z":"10a1407a.0174e","name":"","func":"msg.payload = {\n    \"chatId\": \"46597978\", \n    \"type\":\"message\", \n    \"content\":\n    \"**SolarEdge ZonnenPanelen** \\n\" +\n    \"⚡ Opbrengst dit jaar =  \" + msg.payload[1].state +\n    \"Wh\\n ⚡ Opbrengst deze maand = \" + msg.payload[2].state +\n    \"Wh\\n ⚡ Opbrengst vandaag = \" + msg.payload[3].state +\n\t\"\\n⚡ Current Power  = \" + msg.payload[4].state + \"W\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":220,"wires":[["42a820e2.0b0eb"]]},{"id":"d51d7f1.261208","type":"schedex","z":"10a1407a.0174e","name":"SolarEdge Schedule","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":540,"y":220,"wires":[["bd1c40f6.c89b6"]]},{"id":"7959455.8a434bc","type":"server-state-changed","z":"10a1407a.0174e","name":"Time SolarEdge","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.time_saolaredge","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":220,"wires":[["9539d964.ac9538"]]},{"id":"9539d964.ac9538","type":"change","z":"10a1407a.0174e","name":"Set Time on Override","rules":[{"t":"set","p":"ontime","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.ontime","pt":"msg","to":"ontime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":220,"wires":[["d51d7f1.261208"]]},{"id":"407339ef.30f8d8","type":"schedex","z":"10a1407a.0174e","name":"Buienradar Schedule","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":560,"y":40,"wires":[["50c6b51.2c1ed4c"]]},{"id":"e6521ea3.28e97","type":"server-state-changed","z":"10a1407a.0174e","name":"Time Buienradar","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.time_buienradar","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":40,"wires":[["450a08aa.b8f528"]]},{"id":"450a08aa.b8f528","type":"change","z":"10a1407a.0174e","name":"Set Time on Override","rules":[{"t":"set","p":"ontime","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.ontime","pt":"msg","to":"ontime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":40,"wires":[["407339ef.30f8d8"]]},{"id":"f7288f8b.c0f2f","type":"function","z":"10a1407a.0174e","name":"","func":"msg.payload = {\n    \"chatId\": \"205329462\", \n    \"type\":\"message\", \n    \"content\":\n    \"**SolarEdge ZonnenPanelen** \\n\" +\n    \"⚡ Opbrengst dit jaar =  \" + msg.payload[1].state +\n    \"Wh\\n ⚡ Opbrengst deze maand = \" + msg.payload[2].state +\n    \"Wh\\n ⚡ Opbrengst vandaag = \" + msg.payload[3].state +\n\t\"\\n⚡ Current Power  = \" + msg.payload[4].state + \"W\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":280,"wires":[["82bbd268.cffe6"]]},{"id":"8c637f7f.aca33","type":"schedex","z":"10a1407a.0174e","name":"Zonnenscherm Schedule","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"zonnenscherm_dicht","onpayload":"set_cover_position","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":570,"y":560,"wires":[["8212362b.ad2928"]]},{"id":"8212362b.ad2928","type":"switch","z":"10a1407a.0174e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"set_cover_position","vt":"str"},{"t":"eq","v":"set_cover_position","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":560,"wires":[["e550b55.96f3648"],[]]},{"id":"94ea4805.003e78","type":"server-state-changed","z":"10a1407a.0174e","name":"time zonnenscherm","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.time_zonnenscherm","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":560,"wires":[["30edb562.394b2a"]]},{"id":"30edb562.394b2a","type":"change","z":"10a1407a.0174e","name":"Set Time on Override","rules":[{"t":"set","p":"ontime","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.ontime","pt":"msg","to":"ontime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":560,"wires":[["8c637f7f.aca33"]]},{"id":"e550b55.96f3648","type":"api-call-service","z":"10a1407a.0174e","name":"Zonnenschrm naar binnen","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"cover","service":"close_cover","areaId":[],"deviceId":[],"entityId":["cover.zonnescherm"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":560,"wires":[[]]},{"id":"2d13f791af4236b3","type":"ha-get-entities","z":"10a1407a.0174e","name":"Daily Energy","server":"85cb4144.a30f7","version":0,"rules":[{"property":"entity_id","logic":"starts_with","value":"sensor.daily","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":790,"y":360,"wires":[["d4338181fd405cba","92d3396f5370665e"]]},{"id":"d4338181fd405cba","type":"function","z":"10a1407a.0174e","name":"","func":"msg.payload = {\n    \"chatId\": \"46597978\", \n    \"type\":\"message\", \n    \"content\":\n    \"**Daily Energy overview** \\n\" +\n    \"⚡ Daily_energy =  \" + msg.payload[1].state +\n    \"KWh\\n ⚡ Daily_energy cost = € \" + msg.payload[0].state +\n    \"\\n 🔥 Daily Gas = \" + msg.payload[2].state +\n\t\"\\n 🔥 Daily Gas cost  = € \" + msg.payload[2].state + \"\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":360,"wires":[["42a820e2.0b0eb"]]},{"id":"c2a56b0f4b1b507b","type":"schedex","z":"10a1407a.0174e","name":"Daily Energy Schedule","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":540,"y":360,"wires":[["2d13f791af4236b3"]]},{"id":"4b047db7185f78ed","type":"server-state-changed","z":"10a1407a.0174e","name":"Time Daily Energy","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.time_daily_energy","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":360,"wires":[["79f1816d8411313d"]]},{"id":"79f1816d8411313d","type":"change","z":"10a1407a.0174e","name":"Set Time on Override","rules":[{"t":"set","p":"ontime","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.ontime","pt":"msg","to":"ontime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":360,"wires":[["c2a56b0f4b1b507b"]]},{"id":"92d3396f5370665e","type":"function","z":"10a1407a.0174e","name":"","func":"msg.payload = {\n    \"chatId\": \"205329462\", \n    \"type\":\"message\", \n    \"content\":\n    \"**Daily Energy overview** \\n\" +\n    \"⚡ Daily_energy =  \" + msg.payload[2].state +\n    \"KWh\\n ⚡ Daily_energy cost = € \" + msg.payload[0].state +\n    \"\\n 🔥 Daily Gas = \" + msg.payload[3].state +\n\t\"\\n 🔥 Daily Gas cost  = € \" + msg.payload[1].state + \"\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":420,"wires":[["82bbd268.cffe6"]]},{"id":"85cb4144.a30f7","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"b09bd14a.b601d","type":"telegram bot","botname":"fibarotom_bot","usernames":"tom","chatids":"46597978","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"16bc1ccd.414d73","type":"telegram bot","botname":"fibaropatricia_bot","usernames":"Patricia","chatids":"205329462","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]