Node-Red/Presence Detection person (phone).json
[{"id":"d494c7be.e46618","type":"tab","label":"Phone Home / Away","disabled":false,"info":""},{"id":"8ef7eb6c.0b9008","type":"switch","z":"d494c7be.e46618","name":"Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":200,"wires":[["edda9cc2.fce4","68b68e55.076ae","b8bed4fa.6628e8"],["9cc71a37.9115b8","f9bb6a53.6cf638"]]},{"id":"edda9cc2.fce4","type":"api-current-state","z":"d494c7be.e46618","name":"Status?","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.{{topic}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":480,"y":100,"wires":[["87403e0e.b2958"],["cdf65d1a.198fb"]]},{"id":"6d86081d.e91628","type":"api-call-service","z":"d494c7be.e46618","name":"Just Left","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":280,"wires":[["68b68e55.076ae"]]},{"id":"87403e0e.b2958","type":"api-call-service","z":"d494c7be.e46618","name":"Just Arrived","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":100,"wires":[["f9bb6a53.6cf638"]]},{"id":"ef89f40a.afe4b8","type":"api-call-service","z":"d494c7be.e46618","name":"Away","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":280,"wires":[["b8bed4fa.6628e8","c47e85.42919178"]]},{"id":"ad074b8b.f06458","type":"api-call-service","z":"d494c7be.e46618","name":"Extended Away","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1460,"y":200,"wires":[[]]},{"id":"68b68e55.076ae","type":"trigger","z":"d494c7be.e46618","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"3","extend":false,"overrideDelay":false,"units":"min","reset":"home","bytopic":"topic","topic":"topic","outputs":1,"x":790,"y":220,"wires":[["ef89f40a.afe4b8"]]},{"id":"b8bed4fa.6628e8","type":"trigger","z":"d494c7be.e46618","name":"24hr","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"home","bytopic":"topic","outputs":1,"x":1070,"y":200,"wires":[["ad074b8b.f06458"]]},{"id":"f9bb6a53.6cf638","type":"trigger","z":"d494c7be.e46618","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"1","extend":false,"overrideDelay":false,"units":"min","reset":"not_home","bytopic":"topic","topic":"topic","outputs":1,"x":790,"y":160,"wires":[["cdf65d1a.198fb"]]},{"id":"cdf65d1a.198fb","type":"api-call-service","z":"d494c7be.e46618","name":"Home","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":120,"wires":[["85fcf507.d63e08"]]},{"id":"4aa7eafe.8ae754","type":"trigger-state","z":"d494c7be.e46618","name":"Person","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"prevEntity","comparatorValue":"state","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":60,"y":200,"wires":[["cea6e631.be54e8"],[]]},{"id":"9cc71a37.9115b8","type":"api-current-state","z":"d494c7be.e46618","name":"Status?","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Just Left,Away, Extended Away","halt_if_type":"str","halt_if_compare":"does_not_include","entity_id":"input_select.{{topic}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":480,"y":280,"wires":[["6d86081d.e91628"],["ef89f40a.afe4b8"]]},{"id":"cea6e631.be54e8","type":"change","z":"d494c7be.e46618","name":"Change","rules":[{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload = \"home\" ? \"home\" : \"not_home\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":175,"y":200,"wires":[["cd69db3e.42b298"]],"l":false},{"id":"cd69db3e.42b298","type":"rbe","z":"d494c7be.e46618","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":235,"y":200,"wires":[["8ef7eb6c.0b9008"]],"l":false},{"id":"6c4c672.4042798","type":"api-call-service","z":"d494c7be.e46618","name":"input select presence stateAway","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.present_state\",\"option\":\"Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":280,"wires":[[]]},{"id":"4ef14fd6.1d2b6","type":"api-call-service","z":"d494c7be.e46618","name":"input select presence state Home","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.present_state\",\"option\":\"Home\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1520,"y":120,"wires":[[]]},{"id":"85fcf507.d63e08","type":"or-gate","z":"d494c7be.e46618","name":"OR","rules":[{"t":"regex","v":"Home","vt":"str","case":false,"propertyType":"msg","property":"payload","topic":"input_select.tom"},{"t":"regex","v":"Home","vt":"str","case":false,"propertyType":"msg","property":"payload","topic":"input_select.patrica"}],"outputTopic":"","gateType":"or","emitOnlyIfTrue":false,"x":1070,"y":120,"wires":[["4ef14fd6.1d2b6"]]},{"id":"c47e85.42919178","type":"api-current-state","z":"d494c7be.e46618","name":"Input Tom","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Away","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.tom","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":1100,"y":280,"wires":[["d02f25e3.95fb38"],[]]},{"id":"d02f25e3.95fb38","type":"api-current-state","z":"d494c7be.e46618","name":"Input Patricia","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Away","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.patricia","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":1270,"y":280,"wires":[["6c4c672.4042798"],[]]},{"id":"85cb4144.a30f7","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]