Node-Red/Smart Lights Automations.json
[{"id":"60aa8ea9c7477ca7","type":"tab","label":"Smart Lights","disabled":false,"info":"","env":[]},{"id":"079688b773166edf","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Zolder motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_zolder_any","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":80,"y":60,"wires":[["9cb4f29cd0b9de16"],[]]},{"id":"e8668cca16562f47","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Zolder lights","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_zolder","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":70,"y":400,"wires":[["7255998719fe1055"],[]]},{"id":"2423a026b237ed47","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 30%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_zolder"],"data":"{\"brightness_pct\":30}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":120,"wires":[["11e91f8c808edcf2"]]},{"id":"b8059a5b91bba500","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Turn off lights","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_zolder"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":360,"wires":[["11f108c95414f491"]]},{"id":"7255998719fe1055","type":"change","z":"60aa8ea9c7477ca7","name":"switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":400,"wires":[["7233b4e974791660"]]},{"id":"4dc70284ae1a8702","type":"change","z":"60aa8ea9c7477ca7","name":"motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["7233b4e974791660"]]},{"id":"a467a84f9eb38579","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Light state","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.light_zolder","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1310,"y":320,"wires":[["ad8a6c7715042406","264c7506782690ea"],[]]},{"id":"7d55e628a6606c17","type":"change","z":"60aa8ea9c7477ca7","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":560,"wires":[["57af1545c6cafcb4"]]},{"id":"1920bb0b14db6651","type":"change","z":"60aa8ea9c7477ca7","name":"motion-on","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":260,"wires":[["ad8a6c7715042406"]]},{"id":"163ae6b7db7330a9","type":"change","z":"60aa8ea9c7477ca7","name":"motion-off","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":420,"wires":[["ad8a6c7715042406"]]},{"id":"17403d74bc2f01ec","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-detected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":340,"wires":[["513dbd4b191fef11","a6db2075abb4fcf1","3259d70f66bd1a20","20185308132bf7db"]]},{"id":"72754f41146e9a98","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":420,"wires":[["57af1545c6cafcb4","f8153fb7f222a1b0"]]},{"id":"1cf38ae84342838f","type":"link in","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["ad8a6c7715042406"],"x":295,"y":300,"wires":[["7233b4e974791660"]]},{"id":"ad8a6c7715042406","type":"link out","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["1cf38ae84342838f"],"x":1435,"y":300,"wires":[]},{"id":"6430181b9ab0a374","type":"switch","z":"60aa8ea9c7477ca7","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":460,"wires":[["7d55e628a6606c17","d87a53ac8db19d63"]]},{"id":"5b57a7ded8d45452","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":380,"wires":[["b8059a5b91bba500"]]},{"id":"9cb4f29cd0b9de16","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Zolder Lux < 30","server":"85cb4144.a30f7","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.motion_sensor_zolder_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":280,"y":100,"wires":[["090d366ad67ff01c","2c71ce09979d3a2d"]]},{"id":"513dbd4b191fef11","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Morning","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Morning","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":120,"wires":[["2423a026b237ed47"],[]]},{"id":"a6db2075abb4fcf1","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Day","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":180,"wires":[["77fcd8fa217898ef"],[]]},{"id":"3259d70f66bd1a20","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Evening","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Evening","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":240,"wires":[["d04d477282d61078"],[]]},{"id":"20185308132bf7db","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Night","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Night","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":300,"wires":[["71a8c4c1b6bc0703"],[]]},{"id":"77fcd8fa217898ef","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 20%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_zolder"],"data":"{\"brightness_pct\":20}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":180,"wires":[["11e91f8c808edcf2"]]},{"id":"d04d477282d61078","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 10%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_zolder"],"data":"{\"brightness_pct\":10}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":240,"wires":[["11e91f8c808edcf2"]]},{"id":"71a8c4c1b6bc0703","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 5%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_zolder"],"data":"{\"brightness_pct\":5}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":300,"wires":[["11e91f8c808edcf2"]]},{"id":"1513b797d4b26f84","type":"comment","z":"60aa8ea9c7477ca7","name":"Smart Lights Zolder","info":"","x":90,"y":20,"wires":[]},{"id":"8195c3b624587d45","type":"server-state-changed","z":"60aa8ea9c7477ca7","name":"power state > 110","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.computer_zolder_electric_consumption_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"110","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"80","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":430,"y":640,"wires":[["e1c7b2b4b639218f"],[]]},{"id":"e1c7b2b4b639218f","type":"trigger","z":"60aa8ea9c7477ca7","name":"> 110W","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":640,"wires":[["7f63babe70edf40c"]]},{"id":"7f63babe70edf40c","type":"change","z":"60aa8ea9c7477ca7","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":640,"wires":[["57af1545c6cafcb4"]]},{"id":"9a9873941a026fa3","type":"server-state-changed","z":"60aa8ea9c7477ca7","name":"power state < 90","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.computer_zolder_electric_consumption_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"109","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"20","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":420,"y":580,"wires":[["4ae1fd29ec34e1ba"],[]]},{"id":"4ae1fd29ec34e1ba","type":"trigger","z":"60aa8ea9c7477ca7","name":"< 109W","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":580,"wires":[["7d55e628a6606c17"]]},{"id":"51320e15c6559e78","type":"rbe","z":"60aa8ea9c7477ca7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":610,"y":60,"wires":[["b8059a5b91bba500"]]},{"id":"090d366ad67ff01c","type":"switch","z":"60aa8ea9c7477ca7","name":"> 44","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"44","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":60,"wires":[["51320e15c6559e78"]]},{"id":"2c71ce09979d3a2d","type":"switch","z":"60aa8ea9c7477ca7","name":"< 43","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"43","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":100,"wires":[["4dc70284ae1a8702"]]},{"id":"e958905948a8165e","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"WC light on","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_wc"],"data":"{\"brightness_pct\":35}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":740,"wires":[["b87388903b4dc53a"]]},{"id":"b87388903b4dc53a","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"boolean set on","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wc_licht"],"data":"on","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"binnen","valueType":"str"}],"queue":"none","x":480,"y":740,"wires":[["88433133c39d7f49"]]},{"id":"940a2da83a1995a9","type":"change","z":"60aa8ea9c7477ca7","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":800,"wires":[["88433133c39d7f49"]]},{"id":"56777bc26b7d1689","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"boolean set off","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wc_licht"],"data":"off","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":740,"wires":[[]]},{"id":"d0ac54ebf581c12b","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"WC Door open","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.wc_deur_access_control_window_door_is_open","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":100,"y":740,"wires":[["e958905948a8165e"],[]]},{"id":"9aa88199fac08a59","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"WC Deur dicht BINNEN","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":["input_boolean.wc_licht","binary_sensor.wc_deur_access_control_window_door_is_open"],"entityidfiltertype":"list","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"entity_id","targetValue":"input_boolean.wc_licht","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":150,"y":800,"wires":[["940a2da83a1995a9"],[]]},{"id":"3bed885e9fe648ea","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"WC light off","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_wc"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":960,"wires":[[]]},{"id":"2ba0da5cd0440a12","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"WC deur open BUITEN","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":["binary_sensor.wc_deur_access_control_window_door_is_open"],"entityidfiltertype":"list","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"entity_id","targetValue":"input_boolean.wc_licht","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":170,"y":860,"wires":[["19d2055c81930e96","f60cde291fafe10a"],[]]},{"id":"fcf16a1e53d28686","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"WC deur dicht niemand binnen","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.wc_deur_access_control_window_door_is_open","entityidfiltertype":"substring","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"entity_id","targetValue":"input_boolean.wc_licht","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":210,"y":960,"wires":[["3bed885e9fe648ea","61d0fc332b445613"],[]]},{"id":"011f8701ae44b2e3","type":"change","z":"60aa8ea9c7477ca7","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":840,"wires":[["56777bc26b7d1689"]]},{"id":"b994f2cc74fab324","type":"comment","z":"60aa8ea9c7477ca7","name":"Smart Lights WC begane grond","info":"","x":130,"y":700,"wires":[]},{"id":"716f7c3638356191","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Hal motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_hal_home_security_motion_detection","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":70,"y":1720,"wires":[["4b650fc8883feeaf"],[]]},{"id":"8146473b703f2555","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Light Hal","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_hal_3","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":60,"y":2060,"wires":[["c2b16f3bfba545f5"],[]]},{"id":"11ad5947cf5f2181","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 10%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_hal_3"],"data":"{\"brightness_pct\":10}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":1780,"wires":[["128d721a4dc96983"]]},{"id":"78d81d0c1aa51c07","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Turn off lights","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_hal_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":2020,"wires":[["d326f85e9b6723fb"]]},{"id":"c2b16f3bfba545f5","type":"change","z":"60aa8ea9c7477ca7","name":"switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":2060,"wires":[["e41bc99c52ec9080"]]},{"id":"bf258579bd900711","type":"change","z":"60aa8ea9c7477ca7","name":"motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1760,"wires":[["e41bc99c52ec9080"]]},{"id":"7a127443db2c2099","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Light state","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.light_hal_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1190,"y":2020,"wires":[["8dce4d297678dcd0"],[]]},{"id":"b093b61c0d0e50e0","type":"change","z":"60aa8ea9c7477ca7","name":"motion-on","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1920,"wires":[["8dce4d297678dcd0"]]},{"id":"a78cbb044c3ba8a0","type":"change","z":"60aa8ea9c7477ca7","name":"motion-off","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":2080,"wires":[["8dce4d297678dcd0"]]},{"id":"3c965c01d72de67f","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-detected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":2000,"wires":[["9a7f342a738edc8d","f7cb14a3e49c2327","f81f8c53a00b2e6b","62ba1a3f952df27d"]]},{"id":"35ef801c6cc7f001","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":2080,"wires":[["71f7585869479eb6"]]},{"id":"622e74168e7dea64","type":"link in","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["8dce4d297678dcd0"],"x":295,"y":1940,"wires":[["e41bc99c52ec9080"]]},{"id":"8dce4d297678dcd0","type":"link out","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["622e74168e7dea64"],"x":1355,"y":1960,"wires":[]},{"id":"9297dd7d24ea97df","type":"switch","z":"60aa8ea9c7477ca7","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":2120,"wires":[["cabbe1fea3c4fe5e"]]},{"id":"f11d6bf6685dd446","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":2040,"wires":[["78d81d0c1aa51c07"]]},{"id":"4b650fc8883feeaf","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Hal Lux < 30","server":"85cb4144.a30f7","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.motion_sensor_hal_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":270,"y":1720,"wires":[["680c8aaad75bf53c","ea13ed5d43c2cd7c"]]},{"id":"9a7f342a738edc8d","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Morning","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Morning","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":1780,"wires":[["11ad5947cf5f2181"],[]]},{"id":"f7cb14a3e49c2327","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Day","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":1840,"wires":[["29cf0237d7a69a8e"],[]]},{"id":"f81f8c53a00b2e6b","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Evening","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Evening","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":1900,"wires":[["a12e0906d1d6be33"],[]]},{"id":"62ba1a3f952df27d","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Night","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Night","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":1960,"wires":[["2b7609608f7f7cd5"],[]]},{"id":"29cf0237d7a69a8e","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 20%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_hal_3"],"data":"{\"brightness_pct\":20}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":1840,"wires":[["128d721a4dc96983"]]},{"id":"a12e0906d1d6be33","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 8%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_hal_3"],"data":"{\"brightness_pct\":8}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":1900,"wires":[["128d721a4dc96983"]]},{"id":"2b7609608f7f7cd5","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 2%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_hal_3"],"data":"{\"brightness_pct\":2}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":1960,"wires":[["128d721a4dc96983"]]},{"id":"e77a9520cc089890","type":"comment","z":"60aa8ea9c7477ca7","name":"Smart Lights Hal","info":"","x":80,"y":1680,"wires":[]},{"id":"8bd5d9aea7933922","type":"rbe","z":"60aa8ea9c7477ca7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":610,"y":1720,"wires":[["78d81d0c1aa51c07"]]},{"id":"680c8aaad75bf53c","type":"switch","z":"60aa8ea9c7477ca7","name":"> 35","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1720,"wires":[["8bd5d9aea7933922"]]},{"id":"ea13ed5d43c2cd7c","type":"switch","z":"60aa8ea9c7477ca7","name":"< 35","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1760,"wires":[["bf258579bd900711"]]},{"id":"a8c658a8a21a3f9d","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Bergin motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_berging_any","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":100,"y":2320,"wires":[["89285db0a3b99f20"],[]]},{"id":"15b0c7571964596b","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Berging lights","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.light_berging","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":100,"y":2660,"wires":[["40c4f7bac78f16c6"],[]]},{"id":"6dacd6b0d2489893","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.light_berging"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":2380,"wires":[["d0bc4c615ff11325"]]},{"id":"302a8f1d8eef5a40","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Turn off lights","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.light_berging"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":2620,"wires":[["6fda5fcaa20f6452"]]},{"id":"40c4f7bac78f16c6","type":"change","z":"60aa8ea9c7477ca7","name":"switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":2660,"wires":[["4299d295ffb03936"]]},{"id":"924b2f9f1467cc97","type":"change","z":"60aa8ea9c7477ca7","name":"motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2360,"wires":[["4299d295ffb03936"]]},{"id":"22f32a7dff6881f5","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Light state","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.light_berging","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1210,"y":2620,"wires":[["ee5181cdfb7a74a3"],[]]},{"id":"00a55f158efd8104","type":"change","z":"60aa8ea9c7477ca7","name":"motion-on","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":2520,"wires":[["ee5181cdfb7a74a3"]]},{"id":"a4d77a7d3bac7474","type":"change","z":"60aa8ea9c7477ca7","name":"motion-off","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":2680,"wires":[["ee5181cdfb7a74a3"]]},{"id":"32354611d1dee83f","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-detected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":2600,"wires":[["73528ccd09e49e24","bc8b92a35c5ffc0c","1d4973dddeb424e1","c2ba19e138623995"]]},{"id":"8ac77c07f3294fa0","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":2680,"wires":[["8fef1fbe38643876"]]},{"id":"15e0e132e24b9809","type":"link in","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["ee5181cdfb7a74a3"],"x":255,"y":2600,"wires":[["4299d295ffb03936"]]},{"id":"ee5181cdfb7a74a3","type":"link out","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["15e0e132e24b9809"],"x":1375,"y":2560,"wires":[]},{"id":"a9c899b54e9b6fb6","type":"switch","z":"60aa8ea9c7477ca7","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":2720,"wires":[["08a3352cbffeab53"]]},{"id":"e30dcecefcd76ae4","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":2640,"wires":[["302a8f1d8eef5a40"]]},{"id":"89285db0a3b99f20","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Berging Lux < 30","server":"85cb4144.a30f7","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.motion_sensor_berging_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":310,"y":2320,"wires":[["20c09b226e11541f","277853faac9d1b9a"]]},{"id":"73528ccd09e49e24","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Morning","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Morning","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":2380,"wires":[["6dacd6b0d2489893"],[]]},{"id":"bc8b92a35c5ffc0c","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Day","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":2440,"wires":[["312c7c43e149a7da"],[]]},{"id":"1d4973dddeb424e1","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Evening","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Evening","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":2500,"wires":[["287b0d707db3a94f"],[]]},{"id":"c2ba19e138623995","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Night","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Night","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":2560,"wires":[["4901b1f136b70f36"],[]]},{"id":"312c7c43e149a7da","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.light_berging"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":2440,"wires":[["d0bc4c615ff11325"]]},{"id":"287b0d707db3a94f","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.light_berging"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":2500,"wires":[["d0bc4c615ff11325"]]},{"id":"4901b1f136b70f36","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.light_berging"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":2560,"wires":[["d0bc4c615ff11325"]]},{"id":"d4b640ad5ffbd207","type":"comment","z":"60aa8ea9c7477ca7","name":"Smart Lights Berging","info":"","x":120,"y":2280,"wires":[]},{"id":"e6e6e99f5e733021","type":"rbe","z":"60aa8ea9c7477ca7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":630,"y":2320,"wires":[["302a8f1d8eef5a40"]]},{"id":"20c09b226e11541f","type":"switch","z":"60aa8ea9c7477ca7","name":"> 35","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":2320,"wires":[["e6e6e99f5e733021"]]},{"id":"277853faac9d1b9a","type":"switch","z":"60aa8ea9c7477ca7","name":"< 35","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":2360,"wires":[["924b2f9f1467cc97"]]},{"id":"f8c44c2a325e7a3e","type":"rbe","z":"60aa8ea9c7477ca7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":90,"y":2380,"wires":[[]]},{"id":"3beb668968e04cc8","type":"rbe","z":"60aa8ea9c7477ca7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":70,"y":1780,"wires":[[]]},{"id":"9f86081e13639530","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Hal motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_badkamer_any","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":90,"y":2940,"wires":[["aa06ed285f367d9a"],[]]},{"id":"02be32f570e18f60","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Badkamer lights","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_badkamer_3","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":100,"y":3280,"wires":[["e3268199c81d9d13"],[]]},{"id":"e831732617ac4a1e","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 20%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_badkamer_3"],"data":"{\"brightness_pct\":20}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":3000,"wires":[["84c1f5e20973b321"]]},{"id":"3b759b4cdc1a7af4","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Turn off lights","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_badkamer_3"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":3240,"wires":[["735896ba8b6c41f1"]]},{"id":"e3268199c81d9d13","type":"change","z":"60aa8ea9c7477ca7","name":"switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":3280,"wires":[["4bf801eab6d79c15"]]},{"id":"0a6675462448ee12","type":"change","z":"60aa8ea9c7477ca7","name":"motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":3040,"wires":[["4bf801eab6d79c15"]]},{"id":"4675bb1a86bb9cab","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Light state","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.light_badkamer_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1210,"y":3240,"wires":[["b7fb43264450e40a"],[]]},{"id":"4d851b61a49baa5a","type":"change","z":"60aa8ea9c7477ca7","name":"motion-on","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3140,"wires":[["b7fb43264450e40a"]]},{"id":"c82ae66287b72ec3","type":"change","z":"60aa8ea9c7477ca7","name":"motion-off","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3300,"wires":[["b7fb43264450e40a"]]},{"id":"6a35b78b6e9ee053","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-detected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":3220,"wires":[["e53f1f56e5f43b3a","bab9fc326eb2a01f","3f4c552630551103","247cf705a463b8cf"]]},{"id":"aca88dfc49eec01a","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":3300,"wires":[["e2d78feea1a9b7d5"]]},{"id":"13460c072e42b85a","type":"link in","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["b7fb43264450e40a"],"x":315,"y":3240,"wires":[["4bf801eab6d79c15"]]},{"id":"b7fb43264450e40a","type":"link out","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["13460c072e42b85a"],"x":1375,"y":3180,"wires":[]},{"id":"50468dd284f0ad2c","type":"switch","z":"60aa8ea9c7477ca7","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":3340,"wires":[["08b44225a254fc77"]]},{"id":"ba2d0ea1532e87ad","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":3260,"wires":[["3b759b4cdc1a7af4"]]},{"id":"aa06ed285f367d9a","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Badkamer Lux < 60","server":"85cb4144.a30f7","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.motion_sensor_badkamer_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":310,"y":2940,"wires":[["c5a509cf4a09ffbe","f8b168ce6995571a"]]},{"id":"e53f1f56e5f43b3a","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Morning","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Morning","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":3000,"wires":[["e831732617ac4a1e"],[]]},{"id":"bab9fc326eb2a01f","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Day","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":3060,"wires":[["4fe0d5efb3e8e4a5"],[]]},{"id":"3f4c552630551103","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Evening","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Evening","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":3120,"wires":[["230008bd89ca7a8e"],[]]},{"id":"247cf705a463b8cf","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Night","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Night","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":3180,"wires":[["d91145e3283cb526"],[]]},{"id":"4fe0d5efb3e8e4a5","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 15%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_badkamer_3"],"data":"{\"brightness_pct\":15}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":3060,"wires":[["84c1f5e20973b321"]]},{"id":"230008bd89ca7a8e","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 10%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_badkamer_3"],"data":"{\"brightness_pct\":20}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":3120,"wires":[["84c1f5e20973b321"]]},{"id":"d91145e3283cb526","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 1%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_badkamer_3"],"data":"{\"brightness_pct\":1}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":3180,"wires":[["84c1f5e20973b321"]]},{"id":"740c69b147718c1c","type":"comment","z":"60aa8ea9c7477ca7","name":"Smart Lights Badkamer","info":"","x":120,"y":2900,"wires":[]},{"id":"3e877e11f23b342b","type":"rbe","z":"60aa8ea9c7477ca7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":630,"y":2940,"wires":[["3b759b4cdc1a7af4"]]},{"id":"c5a509cf4a09ffbe","type":"switch","z":"60aa8ea9c7477ca7","name":"> 75","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"75","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":2940,"wires":[["3e877e11f23b342b"]]},{"id":"f8b168ce6995571a","type":"switch","z":"60aa8ea9c7477ca7","name":"< 65","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"65","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":2980,"wires":[["0a6675462448ee12"]]},{"id":"230a4bcb6a29b6fa","type":"rbe","z":"60aa8ea9c7477ca7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":630,"y":2980,"wires":[[]]},{"id":"ee934e601592f11b","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Was ruimte motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_wasruimte_any","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":90,"y":1060,"wires":[["9bdd83bd6d5d2edb"],[]]},{"id":"ba2d90ad8daed1f6","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Wasruimte lights","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_wasruimte","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":80,"y":1400,"wires":[["e766544e8cf40f6d"],[]]},{"id":"1b673fd5a1e8c4f5","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 10%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_wasruimte"],"data":"{\"brightness_pct\":10}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":1120,"wires":[["0279aa9f5b30f370"]]},{"id":"edd40bfbdb5a328c","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Turn off lights","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_wasruimte"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":1360,"wires":[["66d10864d3b1ae50"]]},{"id":"e766544e8cf40f6d","type":"change","z":"60aa8ea9c7477ca7","name":"switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":1400,"wires":[["4361b3826d528e16"]]},{"id":"b1949b7985a2d62a","type":"change","z":"60aa8ea9c7477ca7","name":"motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1100,"wires":[["4361b3826d528e16"]]},{"id":"a74fbb601bbdb5e4","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Light state","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.light_wasruimte","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1190,"y":1360,"wires":[["90075dd893c6c2b0"],[]]},{"id":"7e1293898407bbd1","type":"change","z":"60aa8ea9c7477ca7","name":"motion-on","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1260,"wires":[["90075dd893c6c2b0"]]},{"id":"ad7484d5a8d72548","type":"change","z":"60aa8ea9c7477ca7","name":"motion-off","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1420,"wires":[["90075dd893c6c2b0"]]},{"id":"2ddd460f3b1d8615","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-detected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1340,"wires":[["a458eee10c58043d","913f87e5483295e4","67c140d33bd7b74c","fefec767882bf37e"]]},{"id":"1da37cd052a765b8","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":1420,"wires":[["f2149b3154f1b17c"]]},{"id":"a889d0afb1ac77df","type":"link in","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["90075dd893c6c2b0"],"x":235,"y":1300,"wires":[["4361b3826d528e16"]]},{"id":"90075dd893c6c2b0","type":"link out","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["a889d0afb1ac77df"],"x":1355,"y":1300,"wires":[]},{"id":"7cd932b3e2427ad6","type":"switch","z":"60aa8ea9c7477ca7","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1460,"wires":[["cde30a3504eb25aa"]]},{"id":"bea5d076796dd9be","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":1380,"wires":[["edd40bfbdb5a328c"]]},{"id":"9bdd83bd6d5d2edb","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Wasruimte Lux < 30","server":"85cb4144.a30f7","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.motion_sensor_wasruimte_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":300,"y":1060,"wires":[["12abafb54c9d7c20","5f5b9dce81303519"]]},{"id":"a458eee10c58043d","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Morning","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Morning","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":1120,"wires":[["1b673fd5a1e8c4f5"],[]]},{"id":"913f87e5483295e4","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Day","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":1180,"wires":[["75a20620361ed248"],[]]},{"id":"67c140d33bd7b74c","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Evening","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Evening","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":1240,"wires":[["f749996b12a8d7ab"],[]]},{"id":"fefec767882bf37e","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Night","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Night","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":810,"y":1300,"wires":[["c64f30dae42a09b9"],[]]},{"id":"75a20620361ed248","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 20%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_wasruimte"],"data":"{\"brightness_pct\":20}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":1180,"wires":[["0279aa9f5b30f370"]]},{"id":"f749996b12a8d7ab","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 15%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_wasruimte"],"data":"{\"brightness_pct\":15}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":1240,"wires":[["0279aa9f5b30f370"]]},{"id":"c64f30dae42a09b9","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 5%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_wasruimte"],"data":"{\"brightness_pct\":5}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":1300,"wires":[["0279aa9f5b30f370"]]},{"id":"1ce2aeee07be4cf0","type":"comment","z":"60aa8ea9c7477ca7","name":"Smart Lights Wasruimte","info":"","x":100,"y":1020,"wires":[]},{"id":"ad662524fc990ca9","type":"rbe","z":"60aa8ea9c7477ca7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":610,"y":1060,"wires":[["edd40bfbdb5a328c"]]},{"id":"12abafb54c9d7c20","type":"switch","z":"60aa8ea9c7477ca7","name":"> 26","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"26","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1060,"wires":[["ad662524fc990ca9"]]},{"id":"5f5b9dce81303519","type":"switch","z":"60aa8ea9c7477ca7","name":"< 25","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"25","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1100,"wires":[["b1949b7985a2d62a"]]},{"id":"946c945fa94f789f","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Keuken motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_keuken_home_security_motion_detection","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":80,"y":3940,"wires":[["232ae4a12874447c"],[]]},{"id":"780a374215963cd1","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Keuken lights","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.dimmer_2","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":80,"y":4540,"wires":[["b4d480c44fce8c0f"],[]]},{"id":"c34ffecbb3f0e474","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 25%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.dimmer_2"],"data":"{\"brightness_pct\":25}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":3760,"wires":[["446588d4ccec58fe"]]},{"id":"112734f1556a6f61","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Turn off lights","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_achter_bank","light.dimmer_2","light.light_tv_woonkamer","light.light_woonkamer_midden"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":4520,"wires":[["cb2c6b3f988bc09a"]]},{"id":"b4d480c44fce8c0f","type":"change","z":"60aa8ea9c7477ca7","name":"switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":4560,"wires":[["0728d72df1334567"]]},{"id":"2548df1b27683f4f","type":"change","z":"60aa8ea9c7477ca7","name":"motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":4020,"wires":[["0728d72df1334567","b27c8e092f10a39e"]]},{"id":"68b93b7538137458","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Light state","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.dimmer_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1390,"y":4400,"wires":[["e7e0170152083ad2"],[]]},{"id":"a7c833db21d2a1af","type":"change","z":"60aa8ea9c7477ca7","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":4740,"wires":[["04e74e98262f0d0f"]]},{"id":"f8097453b1809f4f","type":"change","z":"60aa8ea9c7477ca7","name":"motion-on","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":4040,"wires":[["e7e0170152083ad2"]]},{"id":"34ef20c248b351ab","type":"change","z":"60aa8ea9c7477ca7","name":"motion-off","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":4580,"wires":[["e7e0170152083ad2"]]},{"id":"c22496bb6dbdcbc9","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-detected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":4500,"wires":[["4a92222b889b3a56","16bf3168f20f1dd0","883fa104a958dccf","0777f3f95c0f9a40"]]},{"id":"8ffaf04ce4f5198f","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":4580,"wires":[["04e74e98262f0d0f","7105c0d4468fb3a9"]]},{"id":"d9b36d6c999d55a2","type":"link in","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["e7e0170152083ad2"],"x":275,"y":4460,"wires":[["0728d72df1334567"]]},{"id":"e7e0170152083ad2","type":"link out","z":"60aa8ea9c7477ca7","name":"kitchen state machine","links":["d9b36d6c999d55a2"],"x":1715,"y":4400,"wires":[]},{"id":"1e3bdaaa8c480234","type":"switch","z":"60aa8ea9c7477ca7","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":4620,"wires":[["a7c833db21d2a1af","bb97cb9ba989d866"]]},{"id":"e4b28b70439d1836","type":"switch","z":"60aa8ea9c7477ca7","name":"motion-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":4540,"wires":[["112734f1556a6f61"]]},{"id":"232ae4a12874447c","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Keuken Lux ","server":"85cb4144.a30f7","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.motion_sensor_keuken_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":270,"y":3940,"wires":[["ccb8273ae3ac50e3"]]},{"id":"4a92222b889b3a56","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Morning","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Morning","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":3820,"wires":[["c34ffecbb3f0e474","0fef183d8ef80b90","20f8dcc129b11d7f","616088227457ee68"],[]]},{"id":"16bf3168f20f1dd0","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Day","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Day","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":4000,"wires":[["5b5df3bb204475ee","af02eb26c4fcd853","3b1d16eb8e5aca80","7cdb710104e4452c"],[]]},{"id":"883fa104a958dccf","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Evening","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Evening","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":4160,"wires":[["ff460fb207af4dde","ee6a8fd534a2b01e","2823a471f051eec6","26a5b97160d1da77"],[]]},{"id":"0777f3f95c0f9a40","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Night","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"Night","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.time_of_day","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":4380,"wires":[["d8b3d4948fce4bce","5fea57e743fbbb03","7a129fd77f153196","356b2d52cef7d4b7"],[]]},{"id":"45640a8559a6f708","type":"comment","z":"60aa8ea9c7477ca7","name":"Smart Lights Woonkamer","info":"","x":130,"y":3660,"wires":[]},{"id":"9a6ae2fb5e55276a","type":"server-state-changed","z":"60aa8ea9c7477ca7","name":"power state > 80","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.walli_woonkamer_links_electric_consumption_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"80","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":420,"y":4740,"wires":[["81ce062987657f93"],[]]},{"id":"81ce062987657f93","type":"trigger","z":"60aa8ea9c7477ca7","name":"> 80W","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":4740,"wires":[["a7c833db21d2a1af"]]},{"id":"5b936fee29ac1e37","type":"change","z":"60aa8ea9c7477ca7","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":4800,"wires":[["04e74e98262f0d0f"]]},{"id":"a49213dc41df5d8c","type":"server-state-changed","z":"60aa8ea9c7477ca7","name":"power state < 70","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.walli_woonkamer_links_electric_consumption_w","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"70","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"20","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"}],"x":420,"y":4800,"wires":[["3b210b610fdf146e"],[]]},{"id":"3b210b610fdf146e","type":"trigger","z":"60aa8ea9c7477ca7","name":"< 70W","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"false","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":4800,"wires":[["5b936fee29ac1e37"]]},{"id":"20f050c6b186779a","type":"rbe","z":"60aa8ea9c7477ca7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":230,"y":4120,"wires":[[]]},{"id":"d7cce90b74176e91","type":"switch","z":"60aa8ea9c7477ca7","name":"> 22","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":90,"y":4120,"wires":[[]]},{"id":"549a280b7ab1621c","type":"switch","z":"60aa8ea9c7477ca7","name":"< 22","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":90,"y":4080,"wires":[[]]},{"id":"ccd0cbcf06a798bf","type":"rbe","z":"60aa8ea9c7477ca7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":230,"y":4080,"wires":[[]]},{"id":"1a0d23f5b5880a74","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Woonkamer motion","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.motion_sensor_woonkamer_home_security_motion_detection","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"enableInput":true,"x":90,"y":4000,"wires":[["a8afdd4e0987cedb"],[]]},{"id":"a8afdd4e0987cedb","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Woonkamer Lux < 30","server":"85cb4144.a30f7","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.motion_sensor_woonkamer_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":300,"y":4000,"wires":[["ccb8273ae3ac50e3"]]},{"id":"0fef183d8ef80b90","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 15%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_woonkamer_midden"],"data":"{\"brightness_pct\":25}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":3800,"wires":[["446588d4ccec58fe"]]},{"id":"20f8dcc129b11d7f","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 10%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_achter_bank"],"data":"{\"brightness_pct\":10}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":3840,"wires":[["446588d4ccec58fe"]]},{"id":"616088227457ee68","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 8%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_tv_woonkamer"],"data":"{\"brightness_pct\":8}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":3880,"wires":[["446588d4ccec58fe"]]},{"id":"5b5df3bb204475ee","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 25%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.dimmer_2"],"data":"{\"brightness_pct\":25}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":3940,"wires":[["446588d4ccec58fe"]]},{"id":"af02eb26c4fcd853","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 15%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_woonkamer_midden"],"data":"{\"brightness_pct\":25}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":3980,"wires":[["446588d4ccec58fe"]]},{"id":"3b1d16eb8e5aca80","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 10%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_achter_bank"],"data":"{\"brightness_pct\":10}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":4020,"wires":[["446588d4ccec58fe"]]},{"id":"7cdb710104e4452c","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 8%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_tv_woonkamer"],"data":"{\"brightness_pct\":8}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":4060,"wires":[["446588d4ccec58fe"]]},{"id":"ff460fb207af4dde","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 35%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.dimmer_2"],"data":"{\"brightness_pct\":35}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":4120,"wires":[["446588d4ccec58fe"]]},{"id":"ee6a8fd534a2b01e","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 10%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_woonkamer_midden"],"data":"{\"brightness_pct\":10}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":4160,"wires":[["446588d4ccec58fe"]]},{"id":"2823a471f051eec6","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 10%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_achter_bank"],"data":"{\"brightness_pct\":10}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":4200,"wires":[["446588d4ccec58fe"]]},{"id":"26a5b97160d1da77","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 8%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_tv_woonkamer"],"data":"{\"brightness_pct\":8}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":4240,"wires":[["446588d4ccec58fe"]]},{"id":"d8b3d4948fce4bce","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 3%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.dimmer_2"],"data":"{\"brightness_pct\":3}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":4320,"wires":[["446588d4ccec58fe"]]},{"id":"5fea57e743fbbb03","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 3%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_woonkamer_midden"],"data":"{\"brightness_pct\":3}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":4360,"wires":[["446588d4ccec58fe"]]},{"id":"7a129fd77f153196","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 6%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_achter_bank"],"data":"{\"brightness_pct\":6}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":4400,"wires":[["446588d4ccec58fe"]]},{"id":"356b2d52cef7d4b7","type":"api-call-service","z":"60aa8ea9c7477ca7","name":"Light On 3%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_tv_woonkamer"],"data":"{\"brightness_pct\":3}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":4440,"wires":[["446588d4ccec58fe"]]},{"id":"57f04306b3c2faa0","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Light state","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.light_woonkamer_midden","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1390,"y":4440,"wires":[["e7e0170152083ad2"],[]]},{"id":"5e84e012a843ba1b","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Light state","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.light_achter_bank","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1390,"y":4480,"wires":[["e7e0170152083ad2"],[]]},{"id":"37d4026604556a1e","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Light state","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.light_tv_woonkamer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":1390,"y":4520,"wires":[["e7e0170152083ad2"],[]]},{"id":"4daae3958ebbb957","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"Bank lights","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_achter_bank","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":80,"y":4600,"wires":[["b4d480c44fce8c0f"],[]]},{"id":"415073a610f48f49","type":"trigger-state","z":"60aa8ea9c7477ca7","name":"TV lights","server":"85cb4144.a30f7","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_tv_woonkamer","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":80,"y":4660,"wires":[["b4d480c44fce8c0f"],[]]},{"id":"39f61ebe32a074a8","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Power > 80","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"80","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.walli_woonkamer_links_electric_consumption_w","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":4680,"wires":[["a7c833db21d2a1af"],[]]},{"id":"79f0ae3a15436e52","type":"api-current-state","z":"60aa8ea9c7477ca7","name":"Power > 85","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"110","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.computer_zolder_electric_consumption_w","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":520,"wires":[["7f63babe70edf40c"],[]]},{"id":"3dcf53c26ae98e70","type":"switch","z":"60aa8ea9c7477ca7","name":"< 31","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"31","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":3960,"wires":[["2548df1b27683f4f"]]},{"id":"ccb8273ae3ac50e3","type":"average","z":"60aa8ea9c7477ca7","name":"","topic":"","x":480,"y":3960,"wires":[["3dcf53c26ae98e70"]]},{"id":"61d0fc332b445613","type":"change","z":"60aa8ea9c7477ca7","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":920,"wires":[["f60cde291fafe10a"]]},{"id":"42f68f8ed67c6f0f","type":"server-state-changed","z":"60aa8ea9c7477ca7","name":"Zolder Lux","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.motion_sensor_zolder_illuminance","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":260,"y":40,"wires":[["090d366ad67ff01c"]]},{"id":"54de47cc8dda13e4","type":"server-state-changed","z":"60aa8ea9c7477ca7","name":"Keuken Lux","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.motion_sensor_keuken_illuminance","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":270,"y":3820,"wires":[["e496e979a13736c4"]]},{"id":"51a941db6b7f7dd9","type":"server-state-changed","z":"60aa8ea9c7477ca7","name":"Woonkamer Lux","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.motion_sensor_woonkamer_illuminance","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":3880,"wires":[["e496e979a13736c4"]]},{"id":"55d0735bb1b5e215","type":"state-machine","z":"60aa8ea9c7477ca7","name":"State machine light keep on evening","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-detected","motion-on","motion-off","off","on","motion"],"transitions":[{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-detected"},{"name":"on","from":"*","to":"on"},{"name":"switch","from":"off","to":"switch"},{"name":"switch","from":"on","to":"switch"},{"name":"switch","from":"switch","to":"switch"},{"name":"switch","from":"motion-on","to":"switch"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"},{"name":"motion","from":"switch","to":"motion-detected"},{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"on","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"}],"x":150,"y":4240,"wires":[[]]},{"id":"b0ddf5eb92ab074e","type":"state-machine","z":"60aa8ea9c7477ca7","name":"State machine OLD","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-detected","motion-on","motion-off","off","on","motion"],"transitions":[{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-detected"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"},{"name":"motion","from":"switch","to":"motion-detected"},{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"on","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"},{"name":"motion-on","from":"motion-off","to":"motion-detected"}],"x":90,"y":4320,"wires":[[]]},{"id":"2664f7938d6ec6d1","type":"state-machine","z":"60aa8ea9c7477ca7","name":"SM wkr org","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-detected","motion-on","motion-off","off","on","motion"],"transitions":[{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-detected"},{"name":"motion-on","from":"motion-off","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"},{"name":"on","from":"*","to":"on"},{"name":"motion","from":"switch","to":"motion-detected"},{"name":"switch","from":"off","to":"switch"},{"name":"switch","from":"on","to":"switch"},{"name":"switch","from":"switch","to":"switch"},{"name":"switch","from":"motion-on","to":"switch"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion","from":"on","to":"motion-detected"}],"x":90,"y":4420,"wires":[[]]},{"id":"7233b4e974791660","type":"state-machine","z":"60aa8ea9c7477ca7","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-on","motion-detected","motion-off","off","on","motion"],"transitions":[{"name":"motion","from":"switch","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"},{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"on","to":"motion-detected"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion","from":"motion-on","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"},{"name":"motion-off","from":"switch","to":"motion-off"},{"name":"motion-off","from":"off","to":"motion-off"},{"name":"switch","from":"switch","to":"switch"},{"name":"off","from":"switch","to":"off"},{"name":"off","from":"motion-on","to":"off"}],"x":400,"y":380,"wires":[["17403d74bc2f01ec","5b57a7ded8d45452","72754f41146e9a98","6430181b9ab0a374"]]},{"id":"264c7506782690ea","type":"debug","z":"60aa8ea9c7477ca7","name":"switch debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":500,"wires":[]},{"id":"4361b3826d528e16","type":"state-machine","z":"60aa8ea9c7477ca7","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-on","motion-detected","motion-off","off","on","motion"],"transitions":[{"name":"motion","from":"switch","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"},{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"motion-detected","to":"motion-detected"},{"name":"motion","from":"on","to":"motion-detected"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion","from":"motion-on","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"},{"name":"motion-off","from":"switch","to":"motion-off"},{"name":"motion-off","from":"off","to":"motion-off"},{"name":"switch","from":"switch","to":"switch"},{"name":"off","from":"switch","to":"off"},{"name":"off","from":"motion-on","to":"off"}],"x":420,"y":1400,"wires":[["2ddd460f3b1d8615","bea5d076796dd9be","1da37cd052a765b8","7cd932b3e2427ad6"]]},{"id":"e41bc99c52ec9080","type":"state-machine","z":"60aa8ea9c7477ca7","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-on","motion-detected","motion-off","off","on","motion"],"transitions":[{"name":"motion","from":"switch","to":"motion-detected"},{"name":"motion","from":"motion-detected","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"},{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"on","to":"motion-detected"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion","from":"motion-on","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"},{"name":"motion-off","from":"switch","to":"motion-off"},{"name":"motion-off","from":"off","to":"motion-off"},{"name":"switch","from":"switch","to":"switch"},{"name":"off","from":"switch","to":"off"},{"name":"off","from":"motion-on","to":"off"}],"x":420,"y":2060,"wires":[["3c965c01d72de67f","f11d6bf6685dd446","35ef801c6cc7f001","9297dd7d24ea97df"]]},{"id":"4299d295ffb03936","type":"state-machine","z":"60aa8ea9c7477ca7","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-on","motion-detected","motion-off","off","on","motion"],"transitions":[{"name":"motion","from":"switch","to":"motion-detected"},{"name":"motion","from":"motion-detected","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"},{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"on","to":"motion-detected"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion","from":"motion-on","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"},{"name":"motion-off","from":"switch","to":"motion-off"},{"name":"motion-off","from":"off","to":"motion-off"},{"name":"switch","from":"switch","to":"switch"},{"name":"off","from":"switch","to":"off"},{"name":"off","from":"motion-on","to":"off"}],"x":420,"y":2660,"wires":[["32354611d1dee83f","e30dcecefcd76ae4","8ac77c07f3294fa0","a9c899b54e9b6fb6"]]},{"id":"4bf801eab6d79c15","type":"state-machine","z":"60aa8ea9c7477ca7","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-on","motion-detected","motion-off","off","on","motion"],"transitions":[{"name":"motion","from":"switch","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"},{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"on","to":"motion-detected"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion","from":"motion-on","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"},{"name":"motion-off","from":"switch","to":"motion-off"},{"name":"motion-off","from":"off","to":"motion-off"},{"name":"switch","from":"switch","to":"switch"},{"name":"off","from":"switch","to":"off"},{"name":"off","from":"motion-on","to":"off"}],"x":460,"y":3280,"wires":[["6a35b78b6e9ee053","ba2d0ea1532e87ad","aca88dfc49eec01a","50468dd284f0ad2c"]]},{"id":"0728d72df1334567","type":"state-machine","z":"60aa8ea9c7477ca7","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-on","motion-detected","motion-off","off","on","motion"],"transitions":[{"name":"motion","from":"switch","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"},{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"on","to":"motion-detected"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion","from":"motion-on","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"},{"name":"motion-off","from":"switch","to":"motion-off"},{"name":"motion-off","from":"off","to":"motion-off"},{"name":"switch","from":"switch","to":"switch"},{"name":"switch","from":"motion-on","to":"switch"},{"name":"off","from":"switch","to":"off"},{"name":"off","from":"motion-on","to":"off"}],"x":440,"y":4560,"wires":[["c22496bb6dbdcbc9","e4b28b70439d1836","8ffaf04ce4f5198f","1e3bdaaa8c480234"]]},{"id":"b27c8e092f10a39e","type":"debug","z":"60aa8ea9c7477ca7","name":"wkr motion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":4100,"wires":[]},{"id":"563b3e8216f62ba8","type":"change","z":"60aa8ea9c7477ca7","name":"motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":3740,"wires":[[]]},{"id":"8d1619ef18ad180d","type":"rbe","z":"60aa8ea9c7477ca7","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":530,"y":3700,"wires":[[]]},{"id":"319372ff8a25c880","type":"switch","z":"60aa8ea9c7477ca7","name":"> 35","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":3700,"wires":[["8d1619ef18ad180d"]]},{"id":"ad6805bdef6dcc88","type":"switch","z":"60aa8ea9c7477ca7","name":"< 35","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":3740,"wires":[["563b3e8216f62ba8"]]},{"id":"1e4f03862c54b667","type":"switch","z":"60aa8ea9c7477ca7","name":"> 32","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"32","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":3900,"wires":[["112734f1556a6f61"]]},{"id":"e496e979a13736c4","type":"average","z":"60aa8ea9c7477ca7","name":"","topic":"","x":480,"y":3900,"wires":[["1e4f03862c54b667"]]},{"id":"d87a53ac8db19d63","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause detection","x":1040,"y":480,"wires":[["a467a84f9eb38579"],[]]},{"id":"11f108c95414f491","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1010,"y":360,"wires":[["a467a84f9eb38579"],[]]},{"id":"11e91f8c808edcf2","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1270,"y":200,"wires":[["1920bb0b14db6651"],[]]},{"id":"57af1545c6cafcb4","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1040,"y":420,"wires":[["163ae6b7db7330a9"],[]]},{"id":"88433133c39d7f49","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"bool","payloadval":"false","name":"10s Cleaning setup","x":710,"y":740,"wires":[["56777bc26b7d1689"],[]]},{"id":"19d2055c81930e96","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"500","units":"Millisecond","payloadtype":"bool","payloadval":"false","name":"500ms","x":550,"y":860,"wires":[["011f8701ae44b2e3"],[]]},{"id":"cabbe1fea3c4fe5e","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause detection","x":940,"y":2140,"wires":[["7a127443db2c2099"],[]]},{"id":"d326f85e9b6723fb","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1010,"y":2020,"wires":[["7a127443db2c2099"],[]]},{"id":"128d721a4dc96983","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1170,"y":1860,"wires":[["b093b61c0d0e50e0"],[]]},{"id":"71f7585869479eb6","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"40","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":950,"y":2080,"wires":[["a78cbb044c3ba8a0"],[]]},{"id":"08a3352cbffeab53","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause detection","x":960,"y":2740,"wires":[["22f32a7dff6881f5"],[]]},{"id":"6fda5fcaa20f6452","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1030,"y":2620,"wires":[["22f32a7dff6881f5"],[]]},{"id":"d0bc4c615ff11325","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"13","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1190,"y":2460,"wires":[["00a55f158efd8104"],[]]},{"id":"8fef1fbe38643876","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"4","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":960,"y":2680,"wires":[["a4d77a7d3bac7474"],[]]},{"id":"08b44225a254fc77","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause detection","x":960,"y":3360,"wires":[["4675bb1a86bb9cab"],[]]},{"id":"735896ba8b6c41f1","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1030,"y":3240,"wires":[["4675bb1a86bb9cab"],[]]},{"id":"84c1f5e20973b321","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1190,"y":3080,"wires":[["4d851b61a49baa5a"],[]]},{"id":"e2d78feea1a9b7d5","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":960,"y":3300,"wires":[["c82ae66287b72ec3"],[]]},{"id":"cde30a3504eb25aa","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause detection","x":940,"y":1480,"wires":[["a74fbb601bbdb5e4"],[]]},{"id":"66d10864d3b1ae50","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1010,"y":1360,"wires":[["a74fbb601bbdb5e4"],[]]},{"id":"0279aa9f5b30f370","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"13","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1170,"y":1200,"wires":[["7e1293898407bbd1"],[]]},{"id":"f2149b3154f1b17c","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":940,"y":1420,"wires":[["ad7484d5a8d72548"],[]]},{"id":"bb97cb9ba989d866","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause detection","x":1040,"y":4640,"wires":[["68b93b7538137458","57f04306b3c2faa0","5e84e012a843ba1b","37d4026604556a1e"],[]]},{"id":"cb2c6b3f988bc09a","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1010,"y":4520,"wires":[["68b93b7538137458","57f04306b3c2faa0","5e84e012a843ba1b","37d4026604556a1e"],[]]},{"id":"446588d4ccec58fe","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1370,"y":4040,"wires":[["f8097453b1809f4f"],[]]},{"id":"04e74e98262f0d0f","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1040,"y":4580,"wires":[["34ef20c248b351ab"],[]]},{"id":"7105c0d4468fb3a9","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":420,"y":4680,"wires":[["39f61ebe32a074a8"],[]]},{"id":"f8153fb7f222a1b0","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":420,"y":520,"wires":[["79f0ae3a15436e52"],[]]},{"id":"f60cde291fafe10a","type":"stoptimer","z":"60aa8ea9c7477ca7","duration":"10","units":"Minute","payloadtype":"bool","payloadval":"false","name":"Deur dicht vergeten 10 min Uit!","x":630,"y":900,"wires":[["3bed885e9fe648ea"],[]]},{"id":"223124be813b7443","type":"looptimer","z":"60aa8ea9c7477ca7","duration":"20","units":"Second","maxloops":"30","maxtimeout":"35","maxtimeoutunits":"Minute","name":"","x":200,"y":500,"wires":[[],[]]},{"id":"85cb4144.a30f7","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]