Node-Red/Wake-Up Light.json
[{"id":"44c7311c5dfc9a5f","type":"tab","label":"Wake-Up light","disabled":false,"info":""},{"id":"d228445d.4259f8","type":"function","z":"44c7311c5dfc9a5f","name":"Get day of week","func":"var day = new Date().getDay();\n\nvar isWeekend = (day === 6) || (day === 0); \n\nreturn {\n    payload: isWeekend,\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":280,"wires":[["ba532104.74a48"]]},{"id":"ba532104.74a48","type":"switch","z":"44c7311c5dfc9a5f","name":"Is it weekend?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":320,"wires":[["e7a99d1f.bdef"],["e25ce15f.614ee"]]},{"id":"e7a99d1f.bdef","type":"api-current-state","z":"44c7311c5dfc9a5f","name":"Enabled on weekends?","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wakeup_weekend","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":390,"y":260,"wires":[["e25ce15f.614ee"],[]]},{"id":"e25ce15f.614ee","type":"api-current-state","z":"44c7311c5dfc9a5f","name":"Enabled?","server":"85cb4144.a30f7","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wakeup_enabled_gooimeer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":360,"y":340,"wires":[["7db42b.e3de6bd4"],[]]},{"id":"7db42b.e3de6bd4","type":"api-call-service","z":"44c7311c5dfc9a5f","name":"1%","server":"85cb4144.a30f7","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_slaapkamer_gooimeer"],"data":"{\"brightness\":1}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":170,"y":440,"wires":[[]]},{"id":"235e234a.7b2aac","type":"comment","z":"44c7311c5dfc9a5f","name":"Time setting input","info":"","x":90,"y":20,"wires":[]},{"id":"b938cf54.1bdd3","type":"comment","z":"44c7311c5dfc9a5f","name":"Trigger at the configured time","info":"","x":400,"y":20,"wires":[]},{"id":"5a93ca40.9dd574","type":"comment","z":"44c7311c5dfc9a5f","name":"Check if the wake-up light should be enabled on this day of the week","info":"","x":250,"y":220,"wires":[]},{"id":"e34ba2ee.19df8","type":"comment","z":"44c7311c5dfc9a5f","name":"Run the wake-up sequence","info":"","x":120,"y":380,"wires":[]},{"id":"87b4848054dbd08d","type":"schedex","z":"44c7311c5dfc9a5f","name":"Wake up time","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":560,"y":60,"wires":[["d228445d.4259f8"]]},{"id":"8ba53d683ad529e5","type":"server-state-changed","z":"44c7311c5dfc9a5f","name":"Wake up time input","server":"85cb4144.a30f7","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.wakeup_time_gooimeer","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":60,"wires":[["8c9eadb2907aacfa"]]},{"id":"8c9eadb2907aacfa","type":"change","z":"44c7311c5dfc9a5f","name":"Set Time on Override","rules":[{"t":"set","p":"ontime","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.ontime","pt":"msg","to":"ontime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":60,"wires":[["87b4848054dbd08d"]]},{"id":"85cb4144.a30f7","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]